/* EV: Tried setting site width through the "body" tag. 
It didn't work. However, I was able to set the site width through the "container" tag instead. */

body {
    background: #f1f1f1;
    font-family: 'Montserrat', sans-serif;
    min-width: 337px;
}

a {
    text-decoration: underline;
}

.container {
    max-width: 1200px;
    background: #fff;
}

div.scroll {
    width: 100%;
    height: 400px;
    overflow: scroll;
    -webkit-overflow-scrolling: auto;
}

/* Scroll Bar Styles Start Here */
::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 12px;
}

::-webkit-scrollbar:horizontal {
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
    border-radius: 10px;  
    background-color: #ededed; 
}


/* Scroll Bar Styles End Here */

div.scroll ol li {
    margin-top: 15px;
}

.gray-out {
    color: #666666;
}

/*** For index2 ***/

div.scroll2 {
    margin-right: 3%;
    width: 55%;
    height: 496px;
    overflow: scroll;
    -webkit-overflow-scrolling: auto;
    float: left;
}

div.scroll2 ol li {
    margin-top: 15px;
}

ul {
    list-style-type: none;
}

.col-01,
.col-02,
.col-03,
.footer-image {
    float: left;
}

.footer-image {
    width: 10%;
}

.col-full {
    width: 100%;
}

.col-01 {
    width: 43%;
}

.col-02 {
    width: 22%;
}

.col-03 {
    width: 45%;
}

.col-ml {
    margin-left: 2%;
}

.col-mr {
    margin-right: 4%;
}

.padding-bt {
    padding-bottom: 10px;
}

.woo-foo-form {
    width: 60%;
    margin: 20px auto;
}

.woo-foo-form2 {
    width: 40%;
    float: left;
}

.clear {
    clear: both;
}

.main-area {
    padding-left: 40px;
    padding-right: 40px;
}

.main-area h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

.seven-bldgs {
    font-size: 20px;
    padding-left: 31px;
}


/*
.banner {
    margin-right: 0px !important;
    margin-left: 0px !important;
}
*/

.blue-bckgrnd {
    background-color: #0e76bc;
    color: #fff;
    padding-top: 25px;
    padding-bottom: 15px;
}

.for-sale {
    font-size: 57px;
    margin-top: 6px;
    margin-left: 27px;
    margin-bottom: 10px;
}


/* EV: starting work on resizing fonts */

.blue-bckgrnd h3 {}

.blue-bckgrnd ul {
    list-style-type: none;
    font-size: 19px;
}

.orange-bckgrnd {
    padding-top: 12px;
    background-color: #f7941e;
    color: #fff;
    padding: 0;
}

.orange-bckgrnd a {
    color: #fff;
}

.location {
    margin-left: -25px;
    width: 226px;
    margin-right: -30px;
}

.contact {
    width: 199px;
}

.location,
.contact {
    margin-top: 10px;
}

.information {
    margin-top: -18px;
    font-size: 20px;
}
    .for-further .padding-bt {
        text-align: left;
        font-size: 20px;
    }


/* EV: Code for making 5 Columns > Source: http://www.wearesicc.com/quick-tips-5-column-layout-with-twitter-bootstrap/ */

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 15px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}


/*** Wooform Styling ***/

#wufoo-qfty4950p62u9j {
    padding: 25px;
    border: 1px solid gray;
    margin-top: 10px;
}

@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
    .woo-foo-form {
        width: 90%;
    }
}

@media (max-width: 1200px) {
    .for-sale {
        font-size: 50px;
    }
    .margin-top-px {
        margin-top: 15px;
    }
}

@media (max-width: 960px) {
    .woo-foo-form {
        width: 90%;
    }
    .col-03 p{
        font-size: 12px;
    }
}
@media (max-width: 700px) {
    div.scroll2 {
        width: 100%;
    }
    .woo-foo-form2 {
        width: 100%;
    }
    .hide-me {
        display: none;
    }
    
}
@media (max-width: 500px) {
    /**Please clean this up, this isn't a good name **/
    .margin-top-px2 {
        margin-top: 0px;
        font-size: 12px!important;
        padding-bottom: 10px;
    }
    .col-lg-6 {
        margin-top: 5px;
    }
    .for-sale {
        font-size: 30px;
        margin-left: 8px;
        margin-top: 0px;
    }
    .seven-bldgs {
        font-size: 16px;
        padding-left: 10px;
    }
    .footer-image {
        width: 28%;
    }
    .col-01 {
        width: 62%;
    }
    .for-further {
    width: 100%;
}
    .for-further .padding-bt {
        font-size: 16px;
    }
    .col-ml {
        margin-left: 5%;
    }
    .col-03 {
        width: 98%;
    }
}


/* EV: end of 5 column code */